#idxForgeHolder {
    padding: 0 0 50px;
}
.omni-search-container:before {
	content: "Search a City, Street Address, Zip Code, or MLS# into the box below to Search";
	display: none;
}
#omni-container {
	text-align: center;
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
}
#omni-container ul {
    font-size: 0;
    padding: 0;
}
#omni-container ul li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}

/* suggestion list */
.ui-autocomplete {
	max-width: 500px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
    padding: 10px 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 32px;
}
.ui-autocomplete:hover {
	cursor: pointer;
}
.ui-autocomplete li {
padding-left: 10px;
text-transform: uppercase;
}
.ui-autocomplete li:hover {
	background: #eee;
}

/* expandable area */
#omni-expandable1,
#omni-expandable2,
#omni-expandable3 {
    width: 230px;
    background: #fff;
}
#omni-expandable1 #toggle1,
#omni-expandable2 #toggle2,
#omni-expandable3 #toggle3 {
	display: none;
	visibility: hidden;
}
#omni-expandable1 label,
#omni-expandable2 label,
#omni-expandable3 label {
    color: #000;
    display: block;
    height: 33px;
    text-align: center;
    width: auto;
    background: #bcc0c4;
	transition: height 0.4s;
	transition: padding 0.4s;
    text-transform: uppercase;
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 12px 0 1px;
}
#omni-expandable1 label::before,
#omni-expandable2 label::before,
#omni-expandable3 label::before {
    background: radial-gradient(ellipse at center, #fff 56%, transparent 50%);
    content: "+";
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    margin-right: 3px;
    vertical-align: text-top;
    width: 20px;
}
.omni-add-options1,
.omni-add-options2,
.omni-add-options3 {
	height: 0px;
	overflow: hidden;
	transition: height 0.4s;
}
#omni-expandable1 #toggle1:checked ~ .omni-add-options1,
#omni-expandable2 #toggle2:checked ~ .omni-add-options2,
#omni-expandable3 #toggle3:checked ~ .omni-add-options3 {
	height: fit-content;
	margin-bottom: 15px;
	padding: 20px;
    box-shadow: 0px 4px 5px -2px #8e8e8e;
}
#omni-expandable1 #toggle1:checked ~ label::before,
#omni-expandable2 #toggle2:checked ~ label::before,
#omni-expandable3 #toggle3:checked ~ label::before {
	content: "-";
}
#omni-expandable1 #toggle1:checked ~ label,
#omni-expandable2 #toggle2:checked ~ label,
#omni-expandable3 #toggle3:checked ~ label {
	height: 25px;
	padding: 6px 0 0;
}

/* fields */
#tags {
	min-width: 330px;
	font-size: 14px !important;
	text-transform: capitalize !important;
	margin: 0 !important;
}
#omni-tab1 input,
.omni-add-options1 input,
.omni-add-options1 select,
.omni-add-options3 input,
.omni-add-options3 select {
height: 46px;
width: 100%;
margin: 3px 0;
font-size: 18px;
text-transform: uppercase;
border: 1px solid #d7d7d7;
padding: 2px 7px;
box-sizing: border-box;
}
.omni-add-options2 label {
    display: inline-block !important;
    height: auto !important;
    text-align: left !important;
    background: none !important;
    line-height: 22px;
    padding: 6px 0 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
    width: 100% !important;
}
.omni-add-options2 label:before {
content: none !important;
}
.omni-add-options2 input {
    height: 20px;
    width: 20px;
    float: left;
    clear: left;
    margin-right: 7px !important;
}
.omni-submit button {
	height: 46px;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #40BFB9;
    background: #40BFB9;
    color: #fff;
    padding: 0 10px;
}

    @media screen and (max-width: 1180px) and (min-width: 801px) {
    #omni-container {
        position: relative;
    }
    #omni-container ul {
        padding: 0;
    }
    #omni-container ul li {
        width: 100%;
        max-width: 800px;
    }
    #omni-expandable1,
    #omni-expandable2,
    #omni-expandable3 {
        width: 100%;
    }
    .omni-search-container {
        display: block !important;
        margin: auto;
    }
    .omniexp-hplp,
    .omniexp-bedbath {
        width: 24% !important;
    }
    .omniexp-type {
        width: 25% !important;
    }
    #omni-expandable1 #toggle1:checked ~ .omni-add-options1,
    #omni-expandable2 #toggle2:checked ~ .omni-add-options2,
    #omni-expandable3 #toggle3:checked ~ .omni-add-options3 {
        margin-bottom: 0;
        box-shadow: none;
    }
    .omni-submit button {
        width: 100%;
    }
}
@media screen and (max-width: 800px) and (min-width: 1px) {
    #omni-container {
        position: relative;
    }
    #omni-container ul {
        padding: 0;
    }
    #omni-container ul li,
    #omni-expandable1,
    #omni-expandable2,
    #omni-expandable3 {
        width: 100%;
    }
    #tags {
    min-width: initial;
    }
    #omni-expandable1 #toggle1:checked ~ .omni-add-options1,
    #omni-expandable2 #toggle2:checked ~ .omni-add-options2,
    #omni-expandable3 #toggle3:checked ~ .omni-add-options3 {
        margin-bottom: 0;
    }
    .omni-submit button {
        width: 100%;
    }
}


















