/* CLIENT SPECIFIC styles */
#omni-container {
    margin: 0 0 10px;
    padding: 0 0 97px;
    box-sizing: border-box;
  font-family: europa;
      max-width: 1080px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#omni-container  input {
  font-size: 16px;
  height: 35px;
  border: none;
  border-radius: 0px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  box-sizing: border-box;
      border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 1px 1px 4px #999;
}
#omni-container select {
  font-size: 16px;
  height: 35px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  padding: 3px 4px;
  color: #000;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 1px 1px 4px #999;
    box-sizing: border-box;
}
#omni-container input:hover,
#omni-container select:hover {
    border: none;
}
#omni-mobile-message {
display: none;
}
#tags {
  font-size: 20px !important;
   color: #000 !important;
  padding-left: 10px;
  padding-right: 16px;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  vertical-align: middle;
  width: 100%;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}
:-ms-input-placeholder {
   color: #000;
}
.omnilogo {
  height: 62px;
}
.omnilogo img {
width: 50%;
}
.omni-parent-first {
clear: left;
  width: 25%;
}
.omni-parent {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0, #d7d7d7 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0, #d7d7d7 100%);
  background-repeat: repeat-x;
  box-shadow: inset 1px 0 0 white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid #909090;
  border-right: none;
  padding: 25px !important;
  font-family: "Arial", sans-sarif;
  font-size: 22px;
  text-shadow: 0 1px 0 white;
  color: #555;
  position: relative !important;
  top: 3px;
}
.omniacresbox {
	width: 12%;
}
#omniacres {
	   width: 100%;
}
.omnibedbath {
   width: 12%;
}
.omnilp,
.omnihp {
	width: 12%;
}
#omniprice {

}
#omniprice select {
	width: 45%;
}
.omni-submit {
  height: 50px;
  width: 14%;
  float: right !important;
position: relative;
    top: 4px;
  }
.omni-go {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: -5px 0 0 0;
  width: 100%;
  height: 37px;
  background-color: #364159;
  cursor: pointer;
}
.omni-go:hover {
  background-color: #2c4479 !important;
    color: #fff !important;
}
.ui-autocomplete li {
z-index: 9999;
    text-transform: uppercase;
	font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}



/* MOBILE styles */
@media screen and (max-width: 920px) and (min-width: 571px) {
#omni-container {
    padding: 0 0px 140px;
}
.omni-parent-first,
.omniacresbox {
	width: 50%;
}
.omnibedbath,
.omnilp,
.omnihp,
.omni-submit {
    width: 20%;
}}

@media screen and (max-width: 570px) and (min-width: 361px){
#omni-container {
    padding: 0 0px 290px;
}
.omni-parent-first,
.omniacresbox,
.omnibedbath,
.omnilp,
.omnihp {
	width: 50%;
}
.omni-submit {
    width: 100%;
}
#omni-mobile-message {
display: block;
font-size: 14px;
    padding: 8px 5px 0 !important;
    text-align: center !important;
    font-weight: bold;
	color: #fff;
}
#tags::-webkit-input-placeholder {
   color: #fff;
}
#tags:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
#tags::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
#tags:-ms-input-placeholder {
   color: #fff;
}
.omni-go {
    height: 50px;
}}

@media screen and (max-width: 360px) {
#omni-container {
    padding: 0 0px 450px;
}
#omni-mobile-message {
display: block;
font-size: 14px;
    padding: 0px 5px 6px !important;
    text-align: center !important;
    font-weight: bold;
	color: #fff;
	line-height: 18px;
}
#tags::-webkit-input-placeholder {
   color: #fff;
}
#tags:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
#tags::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
#tags:-ms-input-placeholder {
   color: #fff;
}
.omni-parent-first,
.omniacresbox,
.omnibedbath,
.omnilp,
.omnihp,
.omni-submit {
    width: 100%;
}
#omniprice select {
    width: 100%;
    margin-bottom: 15px;
}
#omniprice {
    background: none;
}
.omni-submit {
    top: 5px;
}
.omni-go {
    height: 50px;
}
#omni-container select,
.omniacresbox input {
    height: 38px;
    padding: 3px 8px;
}}