  /* expandable area */
.omnimoreoptions {
	width: 100% !important;
	display: inline-block;
}
#omni-expandable1,
#omni-expandable2,
#omni-expandable3 {
	width: 100%;
}
#omni-expandable1 input,
#omni-expandable2 input,
#omni-expandable3 input {
	display: none;
	visibility: hidden;
}
#omni-expandable1 label,
#omni-expandable2 label,
#omni-expandable3 label {
color: #fff;
    display: block;
    padding: 4px 19px 5px 15px;
    text-align: center;
    width: 185px;
    background: rgba(57, 58, 67, 0.7);
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 40%;
    top: 21px;
    transition: top 0.5s;
}
#omni-expandable label:hover {

}
#omni-expandable1 label::before,
#omni-expandable2 label::before,
#omni-expandable3 label::before {
	background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
	content: "+";
	display: inline-block;
	font-family: Consolas, monaco, monospace;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	margin-right: 3px;
	vertical-align: text-top;
	width: 20px;
}
#omni-expandable #omni-add-options {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
}
#omni-expandable section {
	padding: 0 20px;
}
#omni-expandable #toggle:checked ~ #omni-add-options {
	height: 46px;
	margin-bottom: 15px;
}
#omni-expandable #toggle:checked ~ label {
        top: 71px;
}
#omni-expandable #toggle:checked ~ label::before {
	content: "-";
}